/* line 14, ../sass/themes/default.scss */
body {
  background: -webkit-gradient(radial, 50% center, 200, 50% center, 40, from(#a51703), to(#bc4f40)), #a51703;
  color: white;
  font: 400 1em 'PT Sans Narrow', 'Helvetica Neue'; }
  /* line 19, ../sass/themes/default.scss */
  body > section > header {
    background: rgba(0, 0, 0, 0.9); }
    /* line 21, ../sass/themes/default.scss */
    body > section > header h1 {
      font-size: 1.2em;
      text-transform: uppercase; }

/* line 29, ../sass/themes/default.scss */
a {
  color: white; }

/* line 33, ../sass/themes/default.scss */
ul.common {
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
  border-radius: 0.25rem;
  border: 1px solid #b4b4b4;
  background: white;
  color: black; }
  /* line 38, ../sass/themes/default.scss */
  ul.common li {
    padding: 0.5em 0.4em;
    border-top: 1px solid #b4b4b4; }
    /* line 41, ../sass/themes/default.scss */
    ul.common li:first-child {
      -moz-border-radius-topleft: 0.25rem;
      -webkit-border-top-left-radius: 0.25rem;
      border-top-left-radius: 0.25rem;
      -moz-border-radius-topright: 0.25rem;
      -webkit-border-top-right-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
      border-top: 0; }

/* line 49, ../sass/themes/default.scss */
input {
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  padding: 0.5em;
  background: -webkit-gradient(linear, 0% 0%, 0% 18%, from(#d4d4d4), to(white));
  font-family: inherit; }

/* line 57, ../sass/themes/default.scss */
button {
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em;
  padding: 0.5em 0.75em;
  text-shadow: 1px 1px 0 black;
  color: white;
  font-family: inherit;
  font-weight: bold;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f5d201), to(#f5a101)); }

/* line 3, ../sass/tres.scss */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  -webkit-box-sizing: border-box; }

/* line 11, ../sass/tres.scss */
ul {
  list-style: none; }

/* line 12, ../sass/tres.scss */
p {
  margin: 0.5em 0; }

/* line 13, ../sass/tres.scss */
input, button, textarea {
  font-size: 100%; }

/* line 15, ../sass/tres.scss */
body {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  -webkit-perspective: 800;
  -webkit-text-size-adjust: none;
  -webkit-transform-style: preserve-3d;
  -webkit-user-select: none; }

/* line 26, ../sass/tres.scss */
body > section {
  display: block;
  position: absolute;
  left: 0;
  min-height: 100%;
  width: 100%;
  padding-top: 4em;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.25s ease-in-out;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: translate3d(100%, 0%, 0); }
  /* line 38, ../sass/tres.scss */
  body > section > * {
    margin-left: 1rem;
    margin-right: 1rem; }
  /* line 42, ../sass/tres.scss */
  body > section > header {
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0;
    text-align: center; }
    /* line 48, ../sass/tres.scss */
    body > section > header h1 {
      display: inline-block;
      margin: 0.5em 0; }
  /* line 53, ../sass/tres.scss */
  body > section.current {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: translate3d(0%, 0%, 0); }

/* line 61, ../sass/tres.scss */
form label {
  display: block;
  margin: 0.25em 0;
  font-weight: bold; }
/* line 66, ../sass/tres.scss */
form input {
  width: 100%;
  margin-bottom: 0.5em; }
