@import 'themes/default';

* { 
  margin             : 0; 
  padding            : 0; 
  outline            : 0; 
  border             : 0; 
  -webkit-box-sizing : border-box 
}

ul    { list-style : none }
p     { margin : 0.5em 0 }
input, button, textarea { font-size : 100% }

body {
  position   : absolute;
  height     : 100%;
  width      : 100%;
  overflow-x : hidden;
  -webkit-perspective      : 800;
  -webkit-text-size-adjust : none;
  -webkit-transform-style  : preserve-3d;
  -webkit-user-select      : none;
}

body > section {
  display        : block;
  position       : absolute;
  left           : 0;
  min-height     : 100%;
  width          : 100%;
  padding-top    : 4em;
  opacity        : 0;
  pointer-events : none;
  -webkit-transition      : all 0.25s ease-in-out;
  -webkit-transform-style : preserve-3d;
  -webkit-transform       : translate3d(100%,0%,0);
  &>* {
    margin-left   : 1rem;
    margin-right  : 1rem;
  }
  &>header {
    position   : absolute;
    top        : 0;
    width      : 100%;
    margin     : 0;
    text-align : center;
    h1 {
      display : inline-block;
      margin  : 0.5em 0;
    }  
  }
  &.current {
    opacity        : 1;
    pointer-events : auto;
    -webkit-transform : translate3d(0%,0%, 0)
  }
}

form {
  label { 
    display     : block;
    margin      : 0.25em 0;
    font-weight : bold;
  }
  input { 
    width : 100%;
    margin-bottom : 0.5em;
  }
}