/* line 11, ../../sass/themes/default.scss */
body {
  background: -webkit-gradient(radial, 50% center, 200, 50% center, 40, from(#a51703), to(#bc4f40)), #a51703;
  color: white;
  font: 400 1em 'PT Sans Narrow', 'Helvetica Neue'; }
  /* line 16, ../../sass/themes/default.scss */
  body > section > header {
    background: rgba(0, 0, 0, 0.9); }
    /* line 18, ../../sass/themes/default.scss */
    body > section > header h1 {
      font-size: 1.2em;
      text-transform: uppercase; }

/* line 26, ../../sass/themes/default.scss */
a {
  color: white; }

/* line 30, ../../sass/themes/default.scss */
ul.common {
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
  border-radius: 0.25rem;
  border: 1px solid #b4b4b4;
  background: white;
  color: black; }
  /* line 35, ../../sass/themes/default.scss */
  ul.common li {
    padding: 0.5em 0.4em;
    border-top: 1px solid #b4b4b4; }
    /* line 38, ../../sass/themes/default.scss */
    ul.common li:first-child {
      -moz-border-radius-topleft: 0.25rem;
      -webkit-border-top-left-radius: 0.25rem;
      border-top-left-radius: 0.25rem;
      -moz-border-radius-topright: 0.25rem;
      -webkit-border-top-right-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
      border-top: 0; }
