// Tres - Mixins
// =============
//
// A set of mixins used throughout Tres

@mixin translate($x, $y) {
  -webkit-transform : translate($x, $y);
  -moz-transform    : translate($x, $y);
  -ms-transform     : translate($x, $y);
  transform         : translate($x, $y)
}

@mixin transform-origin($x, $y) {
  -webkit-transform-origin : 50% 50%;
  -moz-transform-origin    : 50% 50%;
  -ms-transform-origin     : 50% 50%;
  transform-origin         : 50% 50%
}

@mixin scale($ratio) {
  -webkit-transform : scale($ratio);
  -moz-transform    : scale($ratio);
  -ms-transform     : scale($ratio);
  transform         : scale($ratio)
}

@mixin vendor-transition($parameters) {
  -webkit-transition : $parameters;
  -moz-transition    : $parameters;
  -ms-transition     : $parameters;
  transition         : $parameters
}

@mixin vendor-transform($parameters) {
  -webkit-transform : $parameters;
  -moz-transform    : $parameters;
  -ms-transform     : $parameters;
  transform         : $parameters
}

@mixin vendor-filter($parameters) {
  -webkit-filter : $parameters;
  -moz-filter    : $parameters;
  -ms-filter     : $parameters;
  filter         : $parameters
}

.spans-horizontally {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-orient : horizontal;
  -moz-box-orient    : horizontal;
  -ms-box-orient     : horizontal;
  box-orient         : horizontal;
}
