/* line 18, ../../../sass/tres/themes/default.scss */
body {
  background: #f8f8f8;
  color: black;
  font-family: 'PT Sans Narrow', 'Helvetica Neue'; }

/* line 24, ../../../sass/tres/themes/default.scss */
body > section > header {
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.9); }
  /* line 27, ../../../sass/tres/themes/default.scss */
  body > section > header h1 {
    color: #d5253e;
    text-transform: uppercase;
    text-align: center; }

/* line 34, ../../../sass/tres/themes/default.scss */
a {
  color: #d5253e; }

/* line 36, ../../../sass/tres/themes/default.scss */
ul.common {
  -webkit-border-radius: 0.6rem;
  -moz-border-radius: 0.6rem;
  -ms-border-radius: 0.6rem;
  -o-border-radius: 0.6rem;
  border-radius: 0.6rem;
  border: 1px solid #1a1a1a;
  color: black;
  background: transparent; }
  /* line 41, ../../../sass/tres/themes/default.scss */
  ul.common li {
    border-top: 1px solid #1a1a1a;
    font-weight: bold;
    background: white; }
    /* line 45, ../../../sass/tres/themes/default.scss */
    ul.common li:first-child {
      border-top: 0; }

/* line 49, ../../../sass/tres/themes/default.scss */
input {
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  background: -webkit-gradient(linear, 0% 0%, 0% 18%, from(#efefef), to(white)); }

/* line 55, ../../../sass/tres/themes/default.scss */
#notifications {
  background: rgba(0, 0, 0, 0.9);
  color: white; }
