/* line 18, ../../../sass/tres/themes/default.scss */
body {
  background: #f8f8f8;
  color: black;
  font-family: 'PT Sans Narrow', 'Helvetica Neue'; }

/* line 24, ../../../sass/tres/themes/default.scss */
body > section > header {
  -webkit-box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.75);
  background: rgba(255, 255, 255, 0.9); }
  /* line 27, ../../../sass/tres/themes/default.scss */
  body > section > header h1 {
    color: #d5253e;
    text-transform: uppercase;
    text-align: center; }

/* line 34, ../../../sass/tres/themes/default.scss */
a {
  color: #d5253e; }

/* line 36, ../../../sass/tres/themes/default.scss */
ul.common {
  -webkit-border-radius: 0.6rem;
  -moz-border-radius: 0.6rem;
  -ms-border-radius: 0.6rem;
  -o-border-radius: 0.6rem;
  border-radius: 0.6rem;
  -webkit-box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.75);
  color: black;
  background: transparent; }
  /* line 41, ../../../sass/tres/themes/default.scss */
  ul.common li {
    border-top: 1px solid rgba(191, 191, 191, 0.75);
    font-weight: bold;
    background: white; }
    /* line 45, ../../../sass/tres/themes/default.scss */
    ul.common li:first-child {
      -moz-border-radius-topright: 0.6rem;
      -webkit-border-top-right-radius: 0.6rem;
      border-top-right-radius: 0.6rem;
      -moz-border-radius-topleft: 0.6rem;
      -webkit-border-top-left-radius: 0.6rem;
      border-top-left-radius: 0.6rem;
      border-top: 0; }
    /* line 50, ../../../sass/tres/themes/default.scss */
    ul.common li:last-child {
      -moz-border-radius-bottomright: 0.6rem;
      -webkit-border-bottom-right-radius: 0.6rem;
      border-bottom-right-radius: 0.6rem;
      -moz-border-radius-bottomleft: 0.6rem;
      -webkit-border-bottom-left-radius: 0.6rem;
      border-bottom-left-radius: 0.6rem; }

/* line 57, ../../../sass/tres/themes/default.scss */
input {
  -webkit-box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.75);
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  border-radius: 0.3rem;
  background: -webkit-gradient(linear, 0% 0%, 0% 18%, from(#efefef), to(white)); }

/* line 63, ../../../sass/tres/themes/default.scss */
#notifications {
  background: rgba(0, 0, 0, 0.9);
  color: white; }
