!!!
%html{:lang => "en"}
  %head
    %title (Anagen)
    %meta{:charset => "utf-8"}
      %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0", :name => "viewport"}/
      %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
      %meta{:content => "red", :name => "apple-mobile-web-app-status-bar-style"}/
      %link{:href => "http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700", :rel => "stylesheet"}
        %link{:href => "/stylesheets/all.css", :rel => "stylesheet"}
  %body
    %script#home-template{:type => "text/template"}
      %h1#logo
        %span> (
        Anagen
        %span )
      %form{:action => "#", :method => "post"}
        %input#query{:capitalize => "off", :name => "query", :placeholder => "Wikipedia search", :type => "text"}
      %p
        This app was built using
        %a.outlink{:href => "http://tres.io"} Tres
    %script#search-template{:type => "text/template"}
      %header.fixed
        %a.icon-search.left{:href => ""}
        %h1
      %ul.common
    %script#article-template{:type => "text/template"}
      %header.fixed
        %a.back
        %h1
          <%= get('displaytitle') %>
      %section
        <%=  get('text') %>
    %script#result-template{:type => "text/template"}
      <%= get('title') %>
    %script{:src => "/javascripts/all.js"}
