@import 'compass/css3/border-radius';
@import 'compass/css3/images';
@import 'compass/css3/box-shadow';

$hot                  : #d5253e;
$body-background      : #f8f8f8;
$default-text-color   : black;
$header-background    : rgba(white,.9);
$list-border          : rgba(black,.75);
$list-text            : black;
$list-background      : white;
$link-color           : $hot;
$textfield-background : -webkit-gradient(linear, 0% 0%, 0% 18%, from(#efefef), to(#FFFFFF));
$button-background    : -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F5D201), to(#f5a101));
$notifications-background : rgba(0,0,0,.9);
$notifications-color      : white;

body {
  background  : $body-background;
  color       : $default-text-color;
  font-family : 'PT Sans Narrow', 'Helvetica Neue';
}

body > section > header {
  @include box-shadow(0 0 0.25rem rgba(black,.75));
  background : $header-background;
  h1 {
    color          : $hot;
    text-transform : uppercase;
    text-align     : center;
  }
}

a { color : $link-color }

ul.common {
  @include border-radius(0.6rem);
  @include box-shadow(0 0 0.25rem rgba(black,.75));
  color      : $list-text;    
  background : transparent;
  li {
    border-top  : 1px solid lighten($list-border, 75%);
    font-weight : bold;
    background  : $list-background;
    &:first-child {
      @include border-top-right-radius(0.6rem);
      @include border-top-left-radius(0.6rem);
      border-top: 0 
    }
    &:last-child {
      @include border-bottom-right-radius(0.6rem);
      @include border-bottom-left-radius(0.6rem);
    }
  }
}

input {
  @include box-shadow(0 0 0.25rem rgba(black,.75));
  @include border-radius(0.3rem);
  background  : $textfield-background;
}

#notifications {
  background  : $notifications-background;
  color       : $notifications-color
}