// Readlet Mini styles
// ===================

@import 'compass/reset'
@import 'tres'

$background-color: #e9ebe6
$text-color: #333
$font: 'proxima-nova-alt-condensed', 'sans-serif'
$spacing: 1rem
$font: "proxima-nova-alt-condensed", "sans-serif"

body
  background: $background-color
  color: $text-color

body, input, button
  font-family: $font

// Styles that apply to all screens
.screen-header
  line-height: 3.5rem
  background: $text-color
  color: $background-color

  h1
    font-size: 2rem

  button, .button
    background: transparent
    color: $background-color
    font-size: 2.5rem

.home-screen
  padding-top: $spacing*10
  text-align: center

  form
    width: 100%
    padding: $spacing*4 $spacing

  input, button
    display: block
    width: 100%
    font-size: 1.5rem
    border-radius: .5rem

  .logo-ish
    font-size: 3.5rem
    font-weight: bold

  .query
    padding: $spacing/2 $spacing
    font-size: 1.75rem

  .submit-button
    width: 50%
    padding: $spacing
    margin: $spacing*4 auto 0
    background: $text-color
    color: $background-color
    font-weight: bold

.results-screen

  .content
    margin: 0 $spacing

.results-list
  font-size: 1.5rem
  background: white
  color: $text-color
  border-radius: .5rem
  border: 1px solid lighten($text-color, 60%)

  li
    padding: .5rem
    border-bottom: 1px solid lighten($text-color, 60%)

    &:last-child
      border-bottom: 0

.article-screen
  font-size: 1.5rem
  background: white
  color: $text-color

  .content
    margin: 0 $spacing

  a
    color: $text-color

// Wikipedia style overrides
.article-screen

  .infobox
    float: right
    margin: 0 0 $spacing $spacing

  .dablink
    margin: $spacing 0

  .tleft
    margin: 0 $spacing $spacing 0
    float: left

  .tright
    margin: 0 0 $spacing $spacing
    float: right

  .rellink, .relarticle, .mainarticle
    margin: $spacing 0

  .references

    li
      margin: $spacing/2 0

    .mw-cite-backlink
      margin-right: $spacing

      a
        text-decoration: none
