@import 'tres/base';
@import 'tres/themes/default';

#home {
  padding-top : 5rem;
  text-align : center;
  form {
    margin : 3rem 1rem;
  }
}

#logo {
  font-size : 3rem;
  color       : $hot;
  span {
    margin : 0 0.5rem;
    text-shadow : 0 0 0.1rem rgba(black, 0.9);
    color : white;
  }
}

