@import 'compass/css3/border-radius';

$body-background    : -webkit-gradient(radial, 50% center, 200, 50% center, 40, from(#a51703), to(#BC4F40)), #a51703;
$header-background  : rgba(0,0,0,.9);
$list-border        : #B4B4B4;
$list-text          : black;
$list-background    : white;
$link-color         : white;


body {
  background : $body-background;
  color      : white;
  font       : 400 1em 'PT Sans Narrow', 'Helvetica Neue';
  &>section {
    &>header {
      background : $header-background;
      h1 {
        font-size : 1.2em;
        text-transform : uppercase;
      }
    }
  }
}

a {
  color : $link-color;
}

ul.common {
  @include border-radius(0.25rem);
  border     : 1px solid $list-border;
  background : $list-background;
  color      : $list-text;    
  li {
    padding : 0.5em 0.4em;
    border-top : 1px solid $list-border;
    &:first-child {
      @include border-top-left-radius(0.25rem);
      @include border-top-right-radius(0.25rem);
      border-top: 0;
    }
  }
}