%h1.t-bigger
  %svg(version="1.1" x="0px" y="0px" width="36px" height="36px" viewBox="0 0 101 144" overflow="visible" enable-background="new 0 0 101 144" fill="#d5253e")
    %path(d="M0.008,78.385c0.045,1.765,0.584,3.452,1.52,4.886c0.102,0.154,0.533,0.824,0.643,0.99l6.264,9.611c1.262,1.935,3.238,3.375,5.669,3.887c0.629,0.132,1.255,0.195,1.872,0.195c1.77,0,3.462-0.524,4.899-1.46l0.597-0.385c2.018-1.322,3.522-3.392,4.06-5.925c0.139-0.66,0.205-1.313,0.205-1.953c0-1.849-0.549-3.62-1.524-5.116l-6.906-10.599h0.002c-1.262-1.935-3.239-3.376-5.678-3.892c-0.627-0.134-1.246-0.194-1.861-0.194c-1.771,0-3.465,0.525-4.898,1.459l-0.602,0.389c-2.02,1.321-3.523,3.388-4.062,5.934C0.066,76.858,0,77.51,0,78.153c0,0.009,0.002,0.018,0.002,0.025c0,0.026,0.006,0.051,0.006,0.077V78.385z")
    %path(d="M99.025,7.561c-1.383-2.072-3.457-3.376-5.715-3.833l-0.705-0.141c-0.611-0.124-1.234-0.185-1.855-0.185c-1.793,0-3.59,0.506-5.193,1.575c-2.162,1.439-3.525,3.608-4,5.97L69.855,69.31c-0.221,1.097-1.287,1.807-2.385,1.588c-0.965-0.192-1.627-1.04-1.625-1.986c0-0.001,0-0.001,0-0.001V8.988c-0.004-2.306-0.875-4.595-2.635-6.356C61.447,0.871,59.16,0.002,56.853,0h-0.717c-2.41,0.002-4.799,0.911-6.638,2.747c-1.835,1.84-2.746,4.23-2.749,6.644l-0.001,59.521l0.001,0.003c0,0.002-0.001,0.005-0.001,0.007c-0.004,0.943-0.666,1.784-1.627,1.977c-1.097,0.22-2.162-0.491-2.382-1.588L31.034,10.95c-0.475-2.364-1.838-4.534-3.996-5.972c-1.607-1.068-3.406-1.574-5.197-1.576c-0.624,0-1.249,0.063-1.858,0.186l-0.699,0.141c-2.258,0.456-4.333,1.76-5.718,3.832c-1.022,1.539-1.506,3.257-1.506,4.97c0,0.599,0.059,1.192,0.176,1.779l10.048,50.122l2.421,12.022l2.898,4.452c1.395,2.136,2.18,4.672,2.18,7.326c0,0.918-0.094,1.848-0.289,2.782c-0.762,3.625-2.934,6.612-5.817,8.49l-0.594,0.386c-2.075,1.351-4.531,2.116-7.107,2.114c-0.012,0-0.023,0-0.035,0c-0.882,0-1.774-0.092-2.669-0.281c-3.515-0.739-6.415-2.848-8.229-5.637l-5.033-7.722v21.247c0.004,8.795,3.354,17.574,10.061,24.286c6.714,6.708,15.489,10.059,24.286,10.059h19.84c8.793,0,17.572-3.351,24.281-10.059c6.711-6.712,10.062-15.491,10.064-24.286v-7.517L57.382,80.669c-1.471-1.013-3.229-1.587-5.079-1.587c-0.54,0-1.089,0.05-1.647,0.155c-2.45,0.454-4.463,1.846-5.771,3.744l-0.408,0.592c-1.056,1.533-1.653,3.372-1.653,5.304c0,0.564,0.052,1.141,0.16,1.726c0.473,2.552,1.928,4.656,3.911,6.026l15.049,10.351h0.002c0.922,0.633,1.154,1.894,0.52,2.815c-0.391,0.57-1.025,0.877-1.668,0.877c-0.396,0-0.795-0.116-1.146-0.356L44.601,99.965c-2.829-1.944-4.928-4.985-5.6-8.626c-0.154-0.824-0.229-1.65-0.229-2.461c0-2.773,0.861-5.412,2.369-7.594l0.403-0.595c1.887-2.744,4.838-4.781,8.373-5.432c0.799-0.148,1.599-0.223,2.386-0.223c2.69,0,5.25,0.837,7.375,2.297l28.861,19.849V73.46c0-0.146,0.016-0.288,0.045-0.425l11.77-58.72c0.117-0.593,0.174-1.188,0.174-1.785C100.529,10.817,100.046,9.098,99.025,7.561z")
  Great!
%p Your Tres app seems to be working fine today!

%section#help.t-left-align
  %h2.icon-bolt Need help?
  %p 
    Check out the 
    <a href="http://tres.io#cookbook">online cookbook</a>. It's a work
    in progress, so baby don't hurt me.
  %p 
    For feedback or bug reports, please refer to the
    <a href="http://github.com/juliocesar/tres">GitHub project page</a>.
  %p Make apps, not war.