<!DOCTYPE html>
<html lang="en">
  <head>
    <title>(Anagen)</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="red" />
    <link href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700" rel="stylesheet">
    <link rel="stylesheet" href="/anagen/anagen.css">
  </head>
  <body>
    <script type="text/template" id="home-template">
      <h1 id="logo">
        <span>(</span>Anagen<span>)</span>
      </h1>
      <form action="#" method="post">
        <input type="text" capitalize="off" id="query" name="query" placeholder="Wikipedia search">
      </form>
      <p>
        This app was built using <a href="http://tres.io" class="outlink">Tres</a>
      </p>
    </script>
    <script type="text/template" id="search-template">
      <header class="fixed">
        <a href="" class="icon-search left"></a>
        <h1></h1>
      </header>
      <ul class="common"></ul>
    </script>
    <script type="text/template" id="article-template">
      <header class="fixed">
        <a class="back"></a>
        <h1><%= get('displaytitle') %></h1>
      </header>
      <section>
        <%= get('text') %>
      </section>
    </script>
    <script type="text/template" id="result-template">
      <%= get('title') %>
    </script>
    <script src="/js/jquery-1.7.2.min.js"></script>
    <script src="/js/underscore.js"></script>
    <script src="/js/backbone.js"></script>
    <script src="/js/tres.js"></script>
    <script src="/anagen/templates.js"></script>
    <script src="/anagen/anagen.js"></script>
  </body>
</html>
