<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Your App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="red" />
    <link href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/all.css">
  </head>
  <body>
    <script src="/js/templates.js"></script>
    <script src="/javascripts/all.js"></script>
  </body>
</html>
